name: Update Packagist

on:
  release:
    types: [published]
  push:
    tags:
      - "v*"

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Notify Packagist to update metadata
        run: |
          curl -sS -XPOST -H "Content-Type: application/json" \
            "https://packagist.org/api/update-package?username=${{ secrets.PACKAGIST_USERNAME }}&apiToken=${{ secrets.PACKAGIST_TOKEN }}" \
            -d '{"repository":{"url":"https://github.com/X-WMS/xwms-docs"}}'
